<%= render "shared/navbar" %>
<%= render "shared/herobanner" %>

<div class="container">

<div class="cards">
  <% @spaces.each do |space| %>
    <div class="card-space">
    <img src="https://images.unsplash.com/photo-1463320898484-cdee8141c787?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
      <div class="card-space">
        <div class="card-space-infos">
          <div>
            <h2><%= space.title %></h2>
            <p><%= space.info_space %></p>
          </div>
          <h2 class="card-space-pricing"><%= space.price_day %></h2>
          <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-space-user avatar-bordered" /> %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>container
